body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 20px auto;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}



.logo {
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el texto */
}


.logospring {
    width: 50px; /* Ajusta el ancho según sea necesario */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el elemento li */
}

.item-spring {
    margin-bottom: 10px; /* Espacio entre elementos li */
    display: flex;
    align-items: center;

}

#contact-link {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .profile-img {
        width: 100px;
        height: 100px;
    }
}